*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    padding: 1px;
    margin: 1px;
    display: grid;
    grid-template-areas: 
        "top"
        "text"
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "f0ter";
}

.topnav{
    background-color: blueviolet;
    color: whitesmoke;
    display: flex;
    padding: 15px;
    grid-area: top;
    justify-content: space-between;
    text-decoration: none;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }

/* hamburger skjuldt */
.topnav .icon {
    display: none;
  }

.nav{
    justify-content: end;
}
.logo{
    justify-content: start;
}

img {
    width: 100%;
    height: auto;
    /* justify-content: center; */
  }


.active {
    /* background-color: #04AA6D; */
    color: rgb(255, 217, 0);
    font-weight: bolder;
  }

.content {
    align-items: center;
}

footer{
    background-color: blueviolet;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    grid-area: f0ter;
    font-size: 1.2em;
}


@media screen and (min-width: 768px) {
    .container {
        grid-template-areas: 
        "top top"
        "text text"
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "f0ter f0ter"
    }
}

@media screen and (min-width: 1064px) {
    .container {
        grid-template-areas: 
        "top top top"
        "text text text"
        "img1 img2 img3"
        "img4 img5 img6"
        "f0ter f0ter f0ter";
        max-width: fit-content;
        margin: 10 auto;
        padding: 5px;
}


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }