* {
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(35,31,32);
  color: white;
  font-family: "poppins";
  
}

/* farver 
rgb(255,214,0) 
rgb(35,31,32)
hvid
*/

/* Top navigation*/
.topnav {
  background-color: rgb(255,214,0);
  color: black;
  overflow: hidden;
}
.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
.topnav a.active {
  background-color: rgb(255,214,0);
  color: black;
  float: left;
}
.topnav .icon {
  display: none;
}

/* Top navigation dropdown menu */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(35,31,32);
  color: white;
  font-weight: bold;
}
.dropdown {
  float: right;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-weight: bold;
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 10px 30px 0px rgb(255,214,0);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: rgb(255,214,0);
  color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* kontakt os */
.oplysninger  {
  background-color: rgb(255,214,0);
  color: black;
  font-weight: bold;
  padding: 2%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 35px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

/* kontaktformular */
.kontaktcontainer {
  width: 100;
  border-radius: 5px;
  background-color: #ffffff;
  color: black;
  padding: 20px;
  
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: rgb(225, 149, 26);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #fff;
  color: black;
}

/* footer */
.footer{
  padding: 5%;
  font-size: small;
}
.footergul{
  background-color: rgb(255,214,0);
  color: black;
  padding: 5%;
  font-weight: bold;
  font-size: small;
}

/* knap som bliver brugt på flere sider */
.button {
  padding: 10px 10px;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: rgb(255,214,0);
  border: none;
  border-radius: 10px;
}
.button:hover {
  background-color: black;
  color: white;
}
.button:active {
  background-color: #ffffff;
  color: #fff;
  box-shadow: 0 5px #ffffff;
  transform: translateY(4px);
}

/* forside html*/
.headerforside video{
  opacity: 0.7;
}
.headerforside{
  
  position: relative;
  text-align: center;
  color: white;
}
.headerTextforside {
  font-size: x-large;
  position: absolute;
  top: 15%;
}
.forsidecontainer{
  background-image: linear-gradient(120deg, black, rgb(255,214,0))
}
.forsidecontainer p {
  margin: 5% 0 0 5%;
}
.forsidecontainer h1 {
  margin: 5% 0 0 5%;
}
.tekstInfo h1{
  color: rgb(255,214,0);
  position: relative;
  text-align: center;
  margin: 5%;
}
.tekstInfo p{
  margin: 5%;
}

/* om os siden / kontakside html*/
.headerkontakt img{
  opacity: 0.7;
}
.headerkontakt{
  position: relative;
  color: white;
}
.headerTextkontakt {
  font-size: xx-large;
  position: absolute;
  top: 15%;
  left: 10%;
  
}
.omos{
  background-image: linear-gradient(100deg, black, rgba(255, 213, 0, 0.685))
}
.omos p {
  margin: 5%;
}
.imgContainer{
  display: flex;
}

/* billeder af os til om os siden */
.containerperson {
  position: relative;
  width: 430;
}
.image {
  display: block;
  height: 100%;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background-color: rgb(255,214,0);
}
.containerperson:hover .overlay {
  opacity: 1;
}
.text {
  color: black;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* vær opmærksom på html */
.headeropmærksom img{
  opacity: 0.7;
}
.headeropmærksom{
  position: relative;
  text-align: center;
  font-weight: bold;
  color: white;
  margin: 0 0 10% 0;
}
.headerTextopmærksom {
  background-color: rgba(0, 0, 0, 0.386);
  font-size: xx-large;
  position: absolute;
  top: 50%;
  left: 8%;
}
.opmærksomcontainer p {
  margin: 5% ;
}
.opmærksomcontainer h1 {
  color:rgb(255,214,0);
  position: relative;
  text-align: center;
  
}
.boks{
  background-color:white;
  color: black;
  font-size: x-large;
  font-weight: bold;
  padding: 8%;
  margin: 10% 0 10% 0;
  
}

/* Finansering af bil html */
.headerfinansering img{
  opacity: 0.7;
}
.headerfinansering{
  position: relative;
  text-align: center;
  font-weight: bold;
  color: white;
  margin: 0 0 10% 0;
}
.headerTextfinansering{
  background-color: rgba(0, 0, 0, 0.386);
  font-size: xx-large;
  position: absolute;
  top: 25%;
  left: 15%;
}
.finansieringcontainer p {
  margin: 5% ;
}
.finansieringcontainer h1 {
  color:rgb(255,214,0);
  position: relative;
  text-align: center;
  
}
.boks1{
  background-color:white;
  color: black;
  font-size: xx-large;
  font-weight: bolder;
  position: relative;
  text-align: center;
  padding: 8%;
  margin: 10% 0 10% 0;
  
}


@media screen and (max-width: 600px) {
  /* Top navigation*/
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  /* Top navigation dropdown menu */
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative ; 
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

}
