*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}

.container{
    max-width: 960px;
    margin:30px auto;
}

.box{
    background-color: #f4f4f4;
border: 1px solid #4f4f4f;
padding: 20px;
margin-bottom: 15px;
}

.box p{
  /*  text-align: right;
    text-align: center;
    text-align: justify; */
    text-align: left;
}

#box-2{
    float: left;
    width: 68%;
}

#box-3{
    float: right;
    width: 30%;
}

#box-4{
    clear: both;

}