*{
    margin: 0;
    padding: 0;
}

body {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    background: gray;
    padding: 15px;
    margin: 15px auto;
    max-width: 1000px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 3fr ;
}

.grid-item {
    background: limegreen;
    padding: 15px;
    color: white;
    font-size: 2em;
}

.five {
    grid-column: 2/4;
}