*{
    margin: 0;
    padding: 0;
}

body {font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    background: gray;
    padding: 15px;
    margin: 15px auto;
    max-width: 1000px;
    display: grid;
    gap: 15px;
    /*smartphone 1kolonne, tablet 2kolonner, pc 4kolonner som nedenunder
      et punktum giver et blank-space*/
    grid-template-areas: 
        "logo nav nav nav"
        "main main . banner"
        "main main banner2 banner2"
        "footer footer footer footer";
}

.grid-item {
    background: limegreen;
    padding: 15px;
    color: white;
    font-size: 2em;
}

.one {
    grid-area: logo;
}
.two {
    grid-area: nav;
}
.three {
    grid-area: main;
}
.four {
    grid-area: banner;
}
.five {
    grid-area: banner2;
}
.six {
    grid-area: footer;
}